{% extends "base.html" %}
{% load static %}

{% block title %}Displaying Model Data{% endblock title %}

{% block content %}

<div class="container">
    <!-- <div class="card bg-dark text-white">
        <img src="..." class="card-img" alt="...">
        <div class="card-img-overlay"> -->
               
            <h1>Welcome to SPMS - the SmartEvents Project Management System!</h1>
            <p>SPMS will help you match available people resources to your projects.</p>
            <p>SPMS also offers a Project Chat which enables project staff to leave 
                their Ideas or Suggestions on the various projects.</p> 

            <h2>What can you do with SPMS?</h2>
            <div class="row">
            <div class="col">
                As a Project Manager - you can create, read, update and delete information on your own projects
            </div>
            <div class="col">
                As a People Owner - you can create, read, update and delete information on all project people resources in SPMS
            </div>
            <div class="col">
                As a Site User - you can view and leave ideas/suggestions on the projects Chat
        </div>
    </div>
</div>
   

        
    
    <!-- <script src="{% static 'checkout/js/stripe_elements.js' %}"></script> -->

{% endblock content %}