<!-- extends to own base.html -->
{% extends "base.html" %}

<!-- internalisation tag: allows a single app to read in multiple languages -->
{% load i18n %}

<!-- translation string -->
{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block content %}

<div class="container container-height-home events-mobile">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3>{% trans "Log In" %}</h3>

      <!-- display welcome message with login or register options -->
      <p>{% blocktrans %}Welcome back to the Smart Events Workforce Management Platform. 
        To leave a comment or like a chat, please log in. If you
        have not created an account yet, then 
        <!-- link for new user registration-->
        <a class="link" href="{{ signup_url }}">sign up</a>
        first.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <!-- existing user login form (username, password)-->
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <br/>
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <!-- submit button for login form -->
        <button class="btn btn-signup right" type="submit">{% trans "Log In" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
