<!-- extends to own base.html -->
{% extends "base.html" %}

<!-- internalisation tag: allows a single app to read in multiple languages -->
{% load i18n %}

<!-- translation string -->
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container container-height-home events-mobile">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign Up" %}</h3>

            <!-- display welcome message with login or register options -->
            <p>{% blocktrans %}Welcome back to the Smart Events Workforce Management Platform. 
              <!-- link if user is already registered-->
              Do you already have an account? Then please <a
                    class="link" href="{{ login_url }}">log in</a> instead.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <!-- new user registration form (username, email, password, password confirm)-->
            <form class="signup forms-mobile" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <!-- submit button for user registration form -->
                <button class="btn btn-signup right" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}