body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fa03fa;
}

.thin {
    font-weight: 300;
    font-size: 10px;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
    

}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #1410e8;
}

.page-link-size {
    font-size: small;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}
/* ---------------------------------------------CUSTOM CSS for EVENTS app */

/* all_projects.html | all_admin_people | all_techsupport_people */
h1.list-heading {
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
}

.link-color {
    color: black;
}

.link-update-color {
    color: rgb(33, 4, 114);
}

.link-delete-color {
    color: rgb(131, 2, 2);
}

.button-color {
    color: black;
    background-color: gray;
}

/* center pagination block */
.pagination {
    justify-content: center;
}

/* ---------------------------------------------CUSTOM CSS for HOME app */

/* index.html */
.main-heading {
    padding-top: 20px;
    font-size: 22px;
    text-align: center;
    color:#fa03fa
}

.text {
    text-align: center;
}

.column-margin {
    margin-bottom: 20px;
}