/* ------------------------------------------- BASE.HTML */
body {
    background-color: white;
    color: rgb(59, 59, 59);
}

/* logo for 'WMP' */
.brand {
    /* font-family: Lato, sans-serif; */
    font-family: 'Permanent Marker', cursive;
    font-size: 1.4rem;
    font-weight: 700;
    color: #038bfa;
    padding-right: 10px;
}

/* logo for 'smartevents' */
.thick {
    color: white;
    /* color: #fa03fa; */
    color: #038bfa;
}

.thin {
    font-weight: 300;
    color: #038bfa;
}

.thick1 {
    color: black;
}

.thin1 {
    font-weight: 300;
    color: black;
}

/* height for containers for 'events' and 'chat' apps */
.container-height {
    height: 100%;
    min-height: 426px;
}  

/* footer */
.footer-position {
    position: relative;
}

/* ---------------------------------------------CHAT app */

/* post_list.html */
.col-position {
    margin: 0;
}

.card {
    border: none;
    background-color: transparent;
}

/* .image-container {
    position: relative;
} */

/* .image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
} */

.author {
    color: #038bfa;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    /* display: inline-block; */
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #038bfa;
    color: black;
    position: relative;
    z-index: 3;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    width: 80%;
}

/* .masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #999899;
    /* -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg); */
    /* transform: skew(20deg); */
    /* z-index: 100; 
} */
/*  title of chat post */
.title {
    font-size: 22px;
}

/*  excerpt of chat post*/
.chat-post-link {
    text-decoration: none;
    color: #445261;
    font-size: 16px;
}

/* chat post date and like (heart) */
.chat-like {
    color: #038bfa;
}

/*  */
.chat-post-link:hover,
.page-link {
    color: white;
}

.page-link-size {
    color: #038bfa;
    font-size: small;
    margin-bottom: 10px;
    padding: 3px, 4px, 3px, 4px;
}

.post-title {
    /* margin-top: 20%; */
    margin-left: 5%;
    position: relative;
    color: red;
    z-index: 3;
}

.post-subtitle {
    margin-left: 5%;
    color: red;
    position: relative;
    z-index: 3;
}

.btn-signup {
    background-color: #038bfa;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #038bfa;
}

.link {
    color: #038bfa;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.chat-position {
    justify-content: center;
}

.chat-list-size {
    width: 40%;
}
/* ---------------------------------------------end: CHAT app */

/* ---------------------------------------------EVENTS app */

.h1-size {
    font-size: 30px;
}

/* html files: all_projects | all_admin_people | all_techsupport_people */

/* link to: html files: show_admin_person | show_project | show_techsupport_person */
.link-color {
    color: #038bfa;
    text-decoration: none;
    font-size: large;
}

.link-color:hover,
.link:active {
    color: white;
}

/* update button: html files: all_admin_people | all_projects | all_techsupport_people */
.button-color-update {
    color: black;
    background-color: rgba(247, 244, 244, 0.856);
}

/* delete button: html files: all_admin_people | all_projects | all_techsupport_people */
.button-color-delete {
    color: white;
    background-color: rgb(94, 93, 93);
}

/* center pagination block */
.pagination {
    justify-content: center;
}

/* buttons: search | submit */
.button {
    margin:0 auto;
    display:block;
    color: white;
    background-color: grey;
    padding: 4px 5px 4px 5px;
    font-size: 16px;
}
/* card size: search_admin_people | search_projects | search_techsupport_people */
.card-size {
    width: 23.75rem;
}

/* card: show_admin_person | show_project | show_techsupport_person */
.card-header-text {
    color: #038bfa;
    font-size: 20px;
}

.button-position {
    margin-right: 60px;
}


/* ---------------------------------------------end: EVENTS app */

/* ---------------------------------------------HOME app */
/* index.html */

/* height for home page container*/
.container-height-home {
    min-height: 500px;
} 

/* headings */
.main-heading {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    color: rgb(44, 43, 43)
}

.sub-heading {
    margin-top: 20px;
    padding-top: 0;
    font-size: 20px;
    text-align: center;
    color: rgb(44, 43, 43)
}


/* contact for admin */
.contact {
    font-size: 15px;
    color: #038bfa;
    margin-bottom: 20px;
}

.text {
    
    width: 90%;
}

.col-margin {
    margin-bottom: 20px;
}

.col-text {
    font-size: 14px;
}

.row-height {
    height: 14px;
}

/* project manager permissions */
.div-pm {
    color: #fa03fa;
    font-size: 18px;
}

.div-pm-1 {
    color: rgba(255, 255, 255, 0);
    font-size: 16px;
}

.div-pm:hover div.div-pm-1{
    display: inline-block;
    position: relative;
    z-index: 10;
    width: 60%;
    background-color: #fa03fa;
    color: white;
    padding: 5px;
    padding-bottom: 0;
    border: solid;
} 

/* administration people owner permissions */
.div-ad {
    color: #8c9b0c;
    font-size: 18px;
}

.div-ad-1 {
    color: rgba(255, 255, 255, 0);
    font-size: 16px;
}

.div-ad:hover div.div-ad-1{
    display: inline-block;
    position: relative;
    z-index: 10;
    width: 60%;
    background-color: #b8c91f;
    color: white;
    padding: 5px;
    padding-bottom: 0;
    border: solid;
}

/* tech support people owner permissions */
.div-tech {
    margin-top: 40px;
    color: #c48a0d;
    font-size: 18px;
}

.div-tech-1 {
    color: rgba(255, 255, 255, 0);
    font-size: 16px;
}

.div-tech:hover div.div-tech-1{
    display: inline-block;
    position: relative;
    z-index: 10;
    width: 60%;
    background-color: #e7af34;
    color: white;
    padding: 5px;
    padding-bottom: 0;
    border: solid;
}

/* general users permissions */
.div-gen {
    margin-top: 60px;
    color: #3d3d3d;
    font-size: 18px;
}

.div-gen-1 {
    color: rgba(255, 255, 255, 0);
    font-size: 16px;
}

.div-gen:hover div.div-gen-1 {
    display: inline-block;
    position: relative;
    z-index: 10;
    width: 60%;
    background-color: #999899;
    color: white;
    padding: 5px;
    padding-bottom: 0;
    border: solid;
}  

/* div hover: ul settings */
.perm-ul {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
    text-align: left;
    list-style-type: none;
}

.li-color {
    color: black
}

/* ---------------------------------------------end: HOME app */

/* -----------------------------------------------BACKGROUNDS */

/* background: all admin people pages */
.background-admin {
    background: linear-gradient(140deg, #d3e062 60%, #b8c91f 60%);
}

/* background: all tech support pages */
.background-tech {
    background: linear-gradient(140deg, #e4c072 60%, #e7af34 60%);
}

/* background: all project pages */
.background-project{
    background: linear-gradient(140deg, #fccdfc 60%, #f8a4f8 60%);
}

/* background: general user pages (all 'chat' app pages)*/
.background-general{
    background: linear-gradient(140deg, #c7c6c7 60%, #999899 60%);
    margin-top: -17px;
    margin-bottom: -16px;
}

/* background: home page */
.background-home{
    background: linear-gradient(140deg, #c7c6c7 60%, #b8b6b8 60%);
    margin-top: -17px;
    margin-bottom: -16px;
}

/* ---------------------------------------------MEDIA QUERIES */

/* T A B L E T S */

@media screen and (max-width: 769px) {
    
    /* height for containers for all apps */
        .container-height {
        height: 100%;
        /* min-height: 434px; */
        min-height: 470px;
    }  
    
    /* headings */
    h1 {
        font-size: 1.625rem;
      }

    /* project manager permissions */
    .div-pm {
        width: 100%
    }

    .div-pm-1 {
        width: 100%;
    } 

    .div-pm:hover div.div-pm-1{
        width: 100%;
    } 

    /* administration people owner permissions */
    .div-ad {
        width: 100%;
    }

    .div-ad-1 {
        width: 100%;
    } 

    .div-ad:hover div.div-ad-1{
        width: 100%;
    }

    /* tech support people owner permissions */
    .div-tech {
        margin-top: 20px;
        width: 100%;
    }

    .div-tech-1 {
        width: 100%;
    }

    .div-tech:hover div.div-tech-1{
        width: 100%;
    }

    /* general users permissions */
    .div-gen {
        margin-top: 20px;
        width: 100%;
    }

    .div-gen-1 {
        width: 100%;
    }

    .div-gen:hover div.div-gen-1 {
        width: 100%;
    }  


}

/* M O B I L E S */

@media screen and (max-width: 426px) {
      
    /* height for containers for all apps */
    .container-height {
        height: 100%;
        /* min-height: 434px; */
        min-height: 760px;
    }  

    /* headings */
    h1 {
        font-size: 1.125rem;
      }

    /* link to: html files: show_admin_person | show_project | show_techsupport_person */
    .link-color,
    .button-color-update,
    .button-color-delete {
        font-size: 14px;
    }

    /* html files: all_admin_people | all_projects | all_techsupport_people */
    /* update and delete buttons */
    .button-size {
        width: 50px;
        padding: 2px;
    }

    /* card: show_admin_person | show_project | show_techsupport_person */
    .button-position {
        margin-right: 38px;
    }
    
    /* text: show_admin_person | show_project | show_techsupport_person */
    .mobile-text {
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .card-padding-head {
        padding-left: 5px;
        padding-right: 5px;
    }

    .form-font {
        font-size: 14px;
    }


    /* ---------------------------------------------HOME app */
    /* index.html */
    .container-height-home {
        min-height: 800px;
    }
    
    /* headings */
    .main-heading {
        padding-top: 20px;
        font-size: 16px;
    }

    .sub-heading {
        margin-top: 10px;
        font-size: 16px;
    }


    /* contact for admin */
    .contact {
        width: 80%;
        font-size: 12px;
        margin-bottom: 20px;
    }

    .text {
        font-size: 14px;
        width: 90%;
    }


    /* project manager permissions */
    .div-pm {
        width: 100%;
        padding: 0;
        font-size: 14px;
        
    }

    .div-pm-1 {
        width: 100%;
        font-size: 14px;
        background-color: #fa03fa;
        color: white;
        padding: 5px;
        padding-bottom: 0;
        border: solid;
    }

        .div-pm:hover div.div-pm-1{
            display: none;
        } 

    /* administration people owner permissions */
    .div-ad {
        width: 100%;
        padding: 0;
        font-size: 14px;
    }

    .div-ad-1 {
        width: 100%;
        font-size: 14px;
        background-color: #b8c91f;
        color: white;
        padding: 5px;
        padding-bottom: 0;
        border: solid;
    }

    .div-ad:hover div.div-ad-1{
        display: none;
    }

    /* tech support people owner permissions */
    .div-tech {
        width: 100%;
        margin-top: 122px;
        font-size: 14px;
    }

    .div-tech-1 {
        width: 100%;
        font-size: 14px;
        background-color: #e7af34;
        color: white;
        padding: 5px;
        padding-bottom: 0;
        border: solid;
    }

    .div-tech:hover div.div-tech-1{
        display: none;
    }

    /* general users permissions */
    .div-gen {
        width: 100%;
        margin-top: 165px;
        font-size: 14px;
    }

    .div-gen-1 {
        width: 100%;
        font-size: 14px;
        background-color: #999899;
        color: white;
        padding: 5px;
        padding-bottom: 0;
        border: solid;
    }

    .div-gen:hover div.div-gen-1 {
        display: none;
    }  

    /* background: home page */
    .background-home{
        background: linear-gradient(100deg, #c7c6c7 60%, #b8b6b8 60%);
        margin-top: -17px;
        margin-bottom: -16px;
}


}
