{% extends "base.html" %}

{% block content %}

<div class="background-general">
    <div class="container-fluid container-height-home post-list-mobile">
        <br/>
        <!-- main heading -->
        <h1 class="heading_1">All Project Posts</h1>
        <!-- Blog Entries Column -->
        <div class="col-12 col-position">
            <div class="row justify-content-center">
            <!-- for loop: to iterate through list of posts -->
            {% for post in post_list %}
                <!-- column holding a card with content containing the post overview -->
                <div class="col-md-4 chat-list-size">
                    <div class="card">
                        <div class="card-body chat-list-mobile">
                            <div>
                                <!-- author of post -->
                                <p class="author">Author: {{ post.author }}</p>
                            </div>
                            <!-- to enable users to click on blog title or excerpt -->
                            <a href="{% url 'post_detail' post.slug %}" class="chat-post-link">
                                <h2 class="card-title title">{{ post.blog_title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <!-- date post created on -->
                            <p class="card-text text-muted h6 created-on">{{ post.created_on }} 
                                <!-- Font Awesome heart with number of likes -->
                                <i class="far fa-heart chat-like"></i>{{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                <!-- if statement: if chat posts are divisible by 2 -->
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <!-- displays 2nd row if more than 2 chat posts -->
            <div class="row justify-content-center">
            
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    
    <!-- pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link page-link-size">&laquo; Previous</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link page-link-size"> Next &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
        
</div>

{%endblock%}