{% extends "base.html" %}

<!-- load crispy forms -->
{% load crispy_forms_tags %} 

{% block title %}Displaying Model Data{% endblock %}

{% block content %}
<!-- background for all project pages -->
<div class="background-project">
  <div class="container container-height-home events-mobile">
    <br />
    <!-- main heading -->
    <h1 class="heading_1">Add a New Project</h1>
    <br />
    <!-- if statement: check user is logged in -->
    {% if user.is_authenticated %}

    <!-- form to add a new project -->
    <form action="{% url 'add_project' %}" method="POST" class="mobile-text">
      <!-- csrf to prevent malicious attacks using user credentials -->
      {% csrf_token %}

      <!-- render add_project form using Crispy filter -->
      {{ project_form | crispy }}

      <!-- submit button for add_project form -->
      <button type="submit" class="btn btn-lg button">Submit</button>

      <!-- javascript to obtain logged in user's id (field hidden) -->
      <script>
        var name = "{{ user.id }}";
        document.getElementById("user").value = name;
      </script>

      {% if submitted %}
      <!-- if submitted (True) then display a message to user -->
      <div class="alert alert-success" role="alert">
        Your new Project was submitted successfully
      </div>
    
      <!-- endif: submitted statement  -->
      {% endif %}
    
      {% else %}
      <!-- display message to user if not authorised -->
      <div class="alert alert-warning" role="alert">
        You are not authorised to create new Projects
      </div>

    <!-- endif: authenticated user statement  -->
    {% endif %}
  </form>
  </div>
</div>

{% endblock content %}
