{% extends "base.html" %}

{% block title %}Displaying Model Data{% endblock title %}

{% block content %}
    <h3>All Projects</h3>

    <ul>
        <!-- NOTE: USE BOOTSTRAP 'CARDS' for formatting -->
        {% for project in project_list %}

            <li><strong>Project: {{ project.project_name }} </strong></li> 
            <li>Date and Time: {{ project.project_date }}</li>
            <!-- call people objects from class People -->
            <li>People assigned to project: <br/>
                {{ project.people }} </li>
            <li>Project Manager: {{ project.project_manager }}</li>
            <li>Project Description: {{ project.description }}</li>
            <!-- for loop to list all attendees for this event-->
            <!-- <li>Attendees:<br/>
                {% for user in event.attendees.all %}
                {{ user }}<br/>
                 end for loop for: list all attendees
                {% endfor %}
            </li> -->
    </ul>
    <br/>
        <div class="card-footer text-muted">
            <a href="{% url 'update_project' project.id %"> Update Project</a>
        </div>

        <div class="card-footer text-muted">
            <a href="{% url 'delete_project' project.id %"> Delete Project</a>
        </div>

        <!-- end for loop for: project_list -->
        {% endfor %} -->
    
{% endblock content %}