{% extends "base.html" %}

{% block title %}Displaying Model Data{% endblock title %}

{% block content %}
    <h3>All Events</h3>

    <ul>
        {% for event in event_list %}
            <li><strong>Event: {{ event.event_name }} </strong>  |  Event Date and Time: {{ event.event_date }}</li>
            <!-- call venue objects from class Venue -->
            <li>Event Venue: {{ event.venue  }} {{ event.venue.address }}</li>
            <li>Event Manager: {{ event.manager }}</li>
            <li>Event Description: {{ event.description }}</li>
            <!-- for loop to list all attendees for this event-->
            <li>Attendees:<br/>
                {% for user in event.attendees.all %}
                {{ user }}<br/>
                <!-- end for loop for: list all attendees -->
                {% endfor %}
            </li>
    </ul>
    <br/>
        <!-- end for loop for: event_list -->
        {% endfor %}
    
{% endblock content %}