{% extends "base.html" %}

{% block title %}Displaying Model Data{% endblock title %}

{% block content %}

<div class="background-admin">
    <div class="container container-height">
        <div class="card mx-auto">
            <!-- if statement: search requested by user -->
            {% if searched %}
            <br/>
                You searched for ...  {{ searched }}
            {% else %}
            <br/>
                <center>Search Project Administration People</center>
            {% endif %}
        </div>
        
        <!-- center row across all screen widths -->
        <div class="row justify-content-center">
            <div class="card-body card-size mobile-text">
   
            <!-- search box for 'people' -->
            <form method="POST" action="{% url 'search_admin_people' %}">

            {% csrf_token %}

                <input class="form-control me-2" type="search" 
                placeholder="enter search . . ." aria-label="Search" name="searched">
            <br/>
                <button class="btn btn-lg button" type="submit">Search</button>
            <br/>

                <!-- for loop: iterate through 'persons' (from views.py) -->
                {% for person in persons %}
                    <!-- add link to search result/s -->
                    <a href="{% url 'show_admin_person' person.id %}">{{ person }}</a> 
                <br/>
                <!-- end for loop: person -->
                {% endfor %}
            </form>
 
{% endblock content %}