{% extends "base.html" %}

{% block title %}Displaying Model Data{% endblock %}

{% block content %}
<!-- background for all project pages -->
<div class="background-project">
  <div class="container container-height-home events-mobile">
    <div class="card mx-auto">
      <div>
        <!-- if statement: search requested by user -->
        {% if searched %}
        <br />
        <!-- confirmation of user's search criteria -->
        You searched for ... {{ searched }} {% else %}
        <br />
        <!-- main heading -->
        <h1 class="heading_1">Search Projects</h1>
        {% endif %}
      </div>

      <!-- center row across all screen widths -->
      <div class="row justify-content-center">
        <div class="card-body card-size mobile-text">
          <!-- search box for 'projects' -->
          <form method="POST" action="{% url 'search_projects' %}">
            {% csrf_token %}
            <!-- search box for user to enter search criteria -->
            <input class="form-control me-2" type="search" placeholder="enter search . . ."
              aria-label="Search" name="searched"/>
            <br />
            <!-- search button -->
            <button type="submit" class="btn btn-lg button">Search</button>
            <br />

            <!-- for loop: iterate through 'projects' (from views.py) -->
            {% for project in projects %}
            <!-- display search result/s as links -->
            <a href="{% url 'show_project' project.id %}">{{ project }}</a>
            <br />
            <!-- end for loop: projects -->
            {% endfor %}
          </form>

          </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}