{% extends "base.html" %}

{% block title %}Displaying Model Data{% endblock %}

{% block content %}
<!-- background for all tech support people pages -->
<div class="background-tech">
  <div class="container container-height-home events-mobile">
    <div class="card mx-auto">
      <div>
        <!-- if statement: search requested by user -->
        {% if searched %}
        <br />
        <!-- confirmation of user's search criteria -->
        You searched for ... {{ searched }}
        
        {% else %}
        <br />
        <!-- main heading -->
        <h1 class="heading_1">Search Technical Support People</h1>
        {% endif %}
      </div>

      <!-- center row across all screen widths -->
      <div class="row justify-content-center">
        <div class="card-body card-size mobile-text">
          <!-- search box for tech support people -->
          <form method="POST" action="{% url 'search_techsupport_people' %}">
            {% csrf_token %}
            <!-- search box for user to enter search criteria -->
            <input class="form-control me-2" type="search" placeholder="enter search . . ."
            aria-label="Search" name="searched"/>
            <br />
            <!-- search button -->
            <button type="submit" class="btn btn-lg button">Search</button>
            <br />

            <!-- for loop: iterate through 'persons' (from views.py) -->
            {% for person in persons %}
            <!-- display search result/s as links -->
            <a href="{% url 'show_techsupport_person' person.id %}">{{ person }}</a>
            <br />
            <!-- end for loop: person -->
            {% endfor %}
          </form>
        </div>
        </div>
    </div>
  </div>
</div>
{% endblock content %}