{% extends "base.html" %}

{% block title %}Displaying Model Data{% endblock %}

{% block content %}

<div class="background-tech">
  <div class="container container-height-home events-mobile">
    <div class="card mx-auto">
      <div>
        <!-- if statement: search requested by user -->
        {% if searched %}
        <br />
        You searched for ... {{ searched }} {% else %}
        <br />
        <center><h1>Search Technical Support People</h1></center>
        {% endif %}
      </div>

      <!-- center row across all screen widths -->
      <div class="row justify-content-center">
        <div class="card-body card-size mobile-text">
          <!-- search box for 'people' -->
          <form method="POST" action="{% url 'search_techsupport_people' %}">
            {% csrf_token %}

            <input
              class="form-control me-2"
              type="search"
              placeholder="enter search . . ."
              aria-label="Search"
              name="searched"
            />
            <br />
            <button type="submit" class="btn btn-lg button">Search</button>
            <br />

            <!-- for loop: iterate through 'persons' (from views.py) -->
            {% for person in persons %}
            <!-- add link to search result/s -->
            <a href="{% url 'show_techsupport_person' person.id %}"
              >{{ person }}</a
            >
            <br />
            <!-- end for loop: person -->
            {% endfor %}
          </form>

        </div>
    </div>
  </div>
</div>
{% endblock content %}