{% extends "base.html" %}

{% block title %}Displaying Model Data{% endblock title %}

{% block content %}
   
    <!-- search box for 'people' -->
    <form method="POST" action="{% url 'search_people' %}">

        {% csrf_token %}

        <input class="form-control me-2" type="search" 
        placeholder="search people..." aria-label="Search" name="searched">
        <br/>

        <!-- if statement: search requested by user -->
        {% if searched %}
            <h1>You searched for ...  {{ searched }}</h1>
            <br/>
            <!-- for loop: iterate through 'persons' (from views.py) -->
            {% for person in persons %}
                <!-- add link to search result/s -->
                <a href="{% url 'show_people' person.id %}">{{ person }}</a> 
                <br/>
            <!-- end for loop: people -->
            {% endfor %}

        <!-- if no search entered then remind user -->
        {% else %}
            <h6>Please enter search for People</h6>
        <!-- end: search requested -->
        {% endif %}

    
{% endblock content %}