{% extends "base.html" %}

<!-- load crispy forms -->
{% load crispy_forms_tags %}

{% block title %}Displaying Model Data{% endblock title %}

{% block content %}
    
        <h1>Project Details</h1>   

        <!-- project information card  -->
        <div class="card" style="width: 50rem;">
            <div class="card-header">
                {{ project }}
            </div>
            <div class="card-body">
                <p class="card-text">Date: {{ project.project_date }}</p>
                <p class="card-text">Resource - Project Admin: {{ project.people }}</p>
                <p class="card-text">Resource - Technical Analyst: {{ project.resource_TS }}</p>
                <p class="card-text">Project Manager: {{ project.project_manager }}</p>
                <p class="card-text">Project Description: {{ project.description }}</p>
            
            <!-- to check user is logged in -->
            {% if user.is_authenticated %}
                <!-- to check user is the project manager for this project -->
                {% if user == project.project_manager %}
                    
                    <!-- button links to 'update' and 'delete a project' -->
                    <a href="{% url 'update_project' project.id %}"
                    class="btn btn-outline-secondary btn-sm">Update a Project</a>

                    <a href="{% url 'delete_project' project.id %}" 
                    class="btn btn-outline-secondary btn-sm">Delete a Project</a>
                
                <!-- endif: project manager -->
                {% endif %}
                </div>
                
            <!-- endif: logged in -->
            {% endif %}
        </div>
        
{% endblock content %}