{% extends "base.html" %}

<!-- load crispy forms -->
{% load crispy_forms_tags %}

{% block title %}Displaying Model Data{% endblock title %}

{% block content %}
    <center>
        <h1>Project Details</h1>
        <br/>
        <table class="table table-striped table-hover table-bordered">    
            <tr>
                <td>
                    <strong>Project: {{ project.project_name }}</strong>
                </td>
            </tr>
            <tr>
                <td>
                    Date and Time: {{ project.project_date }}
                </td>
            </tr>
            <tr>
                <td>
                    People assigned to project: {{ project.people }}
                </td>
            </tr>
            <tr>
                <td>
                    Project Manager: {{ project.project_manager }}
                </td>
            </tr>
            <tr>
                <td>
                    Project Description: {{ project.description }}
                </td>
            </tr>
        </table>

    </center>
    
    {% endblock content %}