{% extends "base.html" %}

<!-- load crispy forms -->
{% load crispy_forms_tags %}

{% block title %}Displaying Model Data{% endblock title %}

{% block content %}
    <h1>Person Details</h1>   

    <!-- person information card  -->
    <div class="card" style="width: 50rem;">
        <div class="card-header">
            {{ person }}
        </div>
        <div class="card-body">
            <p class="card-text">Job Title: {{ person.job_title }}</p>
            <p class="card-text">Name: {{ person.person_name }}</p>
            <p class="card-text">Contact Number {{ person.contact_no  }}</p>
            <p class="card-text">Email: {{ person.person_email }}</p>
            <p class="card-text">Projects Assigned To: {{ person.projects }}</p>
        </div>
        <!-- <div class="card-header">
            {{ tech_support }}
            <p class="card-text">Name: {{ tech_support.person_name_TS }}</p>
            <p class="card-text">Contact Number {{ tech_support.contact_no  }}</p>
            <p class="card-text">Email: {{ tech_support.person_email }}</p>
        </div> -->
        
            <!-- button links to 'update' and 'delete' a person from a project -->
            <a href="{% url 'update_people' person.id %}" 
            class="btn btn-outline-secondary btn-sm">Update Person</a>

            <a href="{% url 'delete_people' person.id %}" 
            class="btn btn-outline-secondary btn-sm">Delete Person from Project</a>
       </div>
</div>

{% endblock content %}