{% extends "base.html" %}

<!-- load crispy forms -->
{% load crispy_forms_tags %} 

{% block title %}Displaying Model Data{% endblock %}

{% block content %}

<div class="background-project">
  <div class="container container-height-home events-mobile">
    <br />
    <center><h1>Update Project</h1></center>

    <!-- pre-populuated form to be updated -->
    <form action="" method="POST" class="forms-mobile">
      <!-- csrf to prevent malicious attacks using user credentials -->
      {% csrf_token %}

      <!-- render update_venue form using Crispy filter -->
      {{ form | crispy }}

      <!-- submit button for update_venue form -->
      <button type="submit" class="btn btn-lg button">Update</button>
    </form>
  </div>
</div>

{% endblock content %}
