{% extends "base.html" %}

<!-- load crispy forms -->
{% load crispy_forms_tags %}

{% block title %}Displaying Model Data{% endblock title %}

{% block content %}

<!-- to check user is logged in -->
{% if user.is_authenticated %}
    <!-- to check user is the project manager for this project -->
    {% if user == project.project_manager %}
    <center>
        <h1>Update Project</h1>
        logged in user: {{ user }}
        project manager: {{ project.project_manager }}

        <br>
        <form action="" method=POST>
            <!-- csrf to prevent malicious attacks using user credentials -->
            {% csrf_token %}

            <!-- render update_venue form using Crispy filter -->
            {{ form | crispy }}
        
            <!-- submit button for update_venue form -->
            <button type="submit" class="btn btn-secondary btn-lg">Update</button>
        </form>

    <!-- endif: project manager -->
    {% endif %}

        
<!-- endif: logged in -->
{% endif %}
    </center>
    
{% endblock content %}