{% extends "base.html" %}

<!-- load crispy forms -->
{% load crispy_forms_tags %} 

{% block title %}Displaying Model Data{% endblock %}

{% block content %}
<!-- background for all project pages -->
<div class="background-project">
  <div class="container container-height-home events-mobile">
    <br />
    <!-- main heading -->
    <h1 class="heading_1">Update Project</h1>

    <!-- views.py function called and passed 'project_id' (displays pre-populuated form) -->
    <form action="{% url 'update_project' project.id %}" method="POST" class="forms-mobile">
      <!-- csrf to prevent malicious attacks using user credentials -->
      {% csrf_token %}

      <!-- render update_venue form using Crispy filter -->
      {{ form | crispy }}

      <!-- submit button for update_venue form -->
      <button type="submit" class="btn btn-lg button">Update</button>
    </form>
  </div>
</div>

{% endblock content %}
