{% extends "base.html" %}

<!-- load crispy forms -->
{% load crispy_forms_tags %}

{% block title %}Displaying Model Data{% endblock title %}

{% block content %}
<div class="background-tech">
    <div class="container container-height">

    <center><h1>Update Tech Support People</h1></center>
        <br>

        <form action="" method=POST>
            <!-- csrf to prevent malicious attacks using user credentials -->
            {% csrf_token %}

            <!-- render update tech support people form using Crispy filter -->
            {{ form | crispy }}
        
            <!-- submit button for update tech support people form -->
            <button type="submit" class="btn btn-lg button">Update</button>
        </form>

    </div>
</div>
    
{% endblock content %}